# ARIMA and LSTM Modelling with Stock Prices

### Overview:
In this project, we will do the following:

1. Literature review and data collection (Part I)
2. Time-series modelling using ARIMA (Part II) 
3. Preparing the dataset according to literature (Part III) 
4. Train LSTM model to predict stock price (Part IV)

### Topics
Machine Learning, Deep Learning, Long Short Term Memory, Stock Prices

### Reference

This project is based off a research publication, listed over <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0227222">here</a>.

In [1]:
# Import pandas
import pandas as pd

## Data Collection: Use yfinance library to download the data
yfinance is a library that works with Yahoo Finance. 

The data is returned in a pandas DataFrame.

We obtain data from <strong>2000-01-03</strong> to <strong>2019-07-01</strong>.

In [2]:
# Retrieve the S&P 500 data using yfinance library
import yfinance as yf
sp = yf.download("^GSPC", start="2000-01-03", end="2019-07-02")
sp

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000
...,...,...,...,...,...,...
2019-06-25,2945.780029,2946.520020,2916.010010,2917.379883,2917.379883,3578050000
2019-06-26,2926.070068,2932.590088,2912.989990,2913.780029,2913.780029,3478130000
2019-06-27,2919.659912,2929.300049,2918.570068,2924.919922,2924.919922,3122920000
2019-06-28,2932.939941,2943.979980,2929.050049,2941.760010,2941.760010,5420700000
2019-07-01,2971.409912,2977.929932,2952.219971,2964.330078,2964.330078,3513270000

### Export the yfinance DataFrame to CSV
We now export the DataFrame into a CSV.

In [3]:
# Export the yfinance DataFrame to a CSV
sp.to_csv("spx.csv")